* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.clr {
    clear: both;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f7f7f7;
}

.mt-200 {
    margin-top: 200px;
}

/*--================================================================
=========================  Menu part start  ========================
================================================================--*/
#top_hadding {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 911;
    border-bottom: 2px solid #ddd;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    width: 10%;
    float: left;
}

.menu {
    width: 90%;
    float: left;
    text-align: right;
}

.logo a img {
    padding-top: 12px;
}

.menu ul {
    margin-bottom: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding-left: 30px;
    line-height: 60px;
    color: #ff9900;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: all linear .3s;
}

.menu ul li a:hover {
    color: #000;
}

.cart-items {
    font-size: 12px;
    border-radius: 50%;
    background: #000;
    text-align: center;
    line-height: 15px;
    color: #fff;
    padding: 2px 4px;
}




/*--============= search_box =============--*/

.search_box {
    width: 730px;
    background: #ddd;
    border-radius: 30px;
    height: 49px;
    display: flex;
    padding: 5px;
}

.search_box .dropdown {
    width: 225px;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
}

.search_box .dropdown .default_option {
    text-transform: capitalize;
    padding: 9px 44px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px;
    background: #fff;
    color: #2c2c2c;
    text-align: left;
}

.search_box .dropdown ul {
    position: absolute;
    top: 55px;
    left: 0px;
    background: #fff;
    font-size: 14px;
    width: 200px;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 0px 0px 4px 0px #ddd;
    text-align: left;
}

.search_box .dropdown ul.active {
    display: block;
}

.search_box .dropdown ul li {
    padding-bottom: 20px;
    display: block;
}

.search_box .dropdown ul li:last-child {
    padding-bottom: 0;
}

.search_box .dropdown ul li:hover {
    color: #6f768d;
}

.search_box .dropdown:before {
    content: "";
    position: absolute;
    font-size: 14px;
    top: 15px;
    right: 20px;
    border: 8px solid;
    border-color: #2c2c2c transparent transparent transparent;
}

.search_box .search_field {
    width: 350px;
    height: 100%;
    position: relative;
}

.search_box .search_field .input {
    width: 130%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    color: #6f768d;
    background: #ddd;
}

.search_box .search_field .fa {
    position: absolute;
    top: 9px;
    right: -114px;
    font-size: 22px;
    color: #969696;
    cursor: pointer;
}




/*--=================================================================
========================  Navbar part start  ========================
=================================================================--*/
.navbar {
    top: 81px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 910;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all linear .3s;
    padding: 10px 20px;
    border-left: 2px solid #ddd;
}

.last_c {
    border-right: 2px solid #ddd;
}

.navbar-light .navbar-nav .nav-link i {
    font-size: 16px;
    padding-left: 25px;
}

.navbar-light .navbar-nav .nav-link i::first-child {
    padding-left: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ff9900;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #000;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #ff9900;
}

.navbar-toggler i {
    color: #fff;
}

.navbar-light .navbar-toggler {
    color: none;
    border: none;
}

.serv i {
    padding-right: -3px;
}


/*--=================================================================
========================  Menu2 part start  =========================
=================================================================--*/
.menu2 {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 2px rgba(221, 221, 221, 0.9);
}

.menu2 ul li {
    margin: 0 10px;
    border-bottom: 1px solid #ddd;
}

.menu2 ul li:last-child {
    border-bottom: 0;
}

.menu2 ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 300;
    line-height: 40px;
    text-transform: capitalize;
    padding: 10px 172px 10px 0px;
}

.menu2 ul li a i {
    position: relative;
	left: 93%;
}

.menu2 ul li a:hover {
    color: #ff9900;
}

.ptb_20 {
    padding: 15px 0;
}







/*--=================================================================
========================  Banner part start  ========================
=================================================================--*/
#banner {
    position: relative;
    top: 105px;
    background: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.banner_slider1 {
    background: url(../images/banner/banner12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 10px;
}

.banner_slider2 {
    background: url(../images/banner/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 10px;
}

.banner-item {
    position: relative;
    text-align: center;
    z-index: 99;
}

.banner-item h6 {
    font-size: 13px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}

.banner-item h1 {
    font-size: 40px;
    font-weight: 800;
    color: #000;
    text-transform: capitalize;
}

.banner-item p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding-top: 15px;
    margin-bottom: 20px;
}

.banner-item a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 25px;
    background: #000;
}






.slick-dots li {
    width: 55px;
    height: 5px;
    background: #fff;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    border-radius: 3px;
    line-height: 5px;
    border: 2px solid #ddd;
}

.slick-dots {
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translateX(-50%);
}

.slick-dots li button {
    color: transparent;
    width: 30px;
    height: 2px;
    background: #fff;
    border: 0;
    opacity: 0;
    transition: all linear .3s;
    line-height: 5px;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    opacity: 1;
    background: #887f7f;
    width: 50px;
    text-align: center;
}

.slider1 i:hover {
    background: #fff;
    color: brown;
}

/*--================================================================
========================  shop part start  ====================
================================================================--*/
#shop {
    padding-top: 130px;
}


.shop-hadding h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 30px;

}

.shopFilter ul li {
    text-decoration: none;
    display: inline-block;
}

.shopFilter ul li a {
    margin-right: 25px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 1px solid #2162f3;
    padding: 6px 15px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    cursor: pointer;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #fff;
    text-decoration: none;
}

.shopFilter a:hover {
    background: #2162f3;
    color: #fff;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}




/*Product list item size*/
.shop-item {
    padding: 15px;
    background: #fff;
    box-shadow: 0px 0px 3px 2px rgba(221, 221, 221, 0.78);
    height: 305px;
}

.h_tshart .shop-item {

    height: 260px;
}




.sopi_img {
    height: 200px;
}

.shop-imag {
    padding: 30px;
}

.shop .shop-section .item {
    margin-bottom: 30px;
}

.shop .shop-section .item .shop-item {
    position: relative;
    overflow: hidden;
}

.shop .shop-section .item .shop-item::before {
    background: rgba(221, 221, 221, 0.54);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    border-radius: 5px;
}

.shop .shop-section .item .shop-item:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.shop .shop-section .item .shop-item .item-overlay {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.shop .shop-section .item .shop-item .item-overlay h6 {
    text-transform: uppercase;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
}

.shop .shop-section .item .shop-item .item-overlay .icons .icon {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    opacity: 0;
}

.shop .shop-section .item .shop-item .item-overlay .icons .icon a {
    display: inline-block;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    height: 40px;
    width: 40px;
    margin-top: 30px;
    background-color: #fff;
    font-size: 18px;
    line-height: 40px;
    color: #222;
    margin-right: 5px;
    border-radius: 10%;
    box-shadow: 0px 0px 1px 1px #ddd;
}

.shop .shop-section .item .shop-item:hover .item-overlay h6,
.shop .shop-section .item .shop-item:hover .item-overlay .icons .icon {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.icon {
    position: relative;
    right: 15px;
    top: -20px;
}

.item-overlay h6 {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    margin: 0 40px;
    border-radius: 6px;
}

.icon a:hover i {
    color: #ff9900;
}

.port-img {
    border-radius: 5px;
}

.about-btn {
    margin-bottom: 60px;
}

.about-btn a {
    padding: 12px 22px;
    background: #ff9900;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
}

#shop_main .about-btn a {
    margin-bottom: 0;
}






.s_price {
    padding: 8px;
}

.s_price h6 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: #5a5252;
    padding-bottom: 10px;
}

.s_price h5 {
    font-size: 14px;
    font-weight: 600;
    text-decoration: line-through;
    color: #bebebe;
}

.s_price p {
    font-size: 14px;
    font-weight: 600;
    color: #ff9900;
}






/*--================================================================
========================  Footer part start  =======================
================================================================--*/

#footer {
    padding-top: 67px;
    padding-bottom: 30px;
    background: #333e4f;
}

.footer_item h4 {
    font-size: 20px;
    font-weight: 500;
    color: #92a9be;
    padding-bottom: 20px;
}

.footer_item ul li {
    display: block;
    padding-bottom: 8px;
}

.footer_item ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #92a9be;
    text-transform: capitalize;
}

.footer_item p {
    font-size: 15px;
    font-weight: 400;
    color: #92a9be;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.footer_item ul li a:hover {
    color: #ff9900;
}

.footer_social i {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    background: #1d2531;
    color: #fff;
    line-height: 40px;
    transition: all linear .3s;
    text-align: center;
    margin-right: 10px;
}

.footer_social i:hover {
    background: #ff9900;
}

.pl_1 {
    padding-left: 100px;
}

.pl_2 {
    padding-left: 180px;
}




/*--================================================================
========================  Copyright part start  ====================
================================================================--*/

#copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #575555;
    background: #333e4f;
}

.social-contacts p {
    font-size: 14px;
    font-weight: 500;
    color: #92a9be;
}




/*--================================================================
====================================================================
==========================  Cart part start  =======================
====================================================================
================================================================--*/

#cart main {
    padding-top: 100px;
}

#cart #your_cart {
    margin-top: 40px;
}

#cart .check_heading h4 {
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 7px 2px rgba(221, 221, 221, 0.4);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #ff9900;
}


.media-heading a {
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

.skin-light .btn-primary {
    background-color: #ff9900 !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
}

.d-flex h5 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.d-flex p {
    font-size: 14px;
    font-weight: 600;
}

.d-flex a {
    font-size: 14px;
    font-weight: 700;
}

.skin-light .text-primary {
    color: #ff9900 !important;
}

.skin-light strong {
    font-weight: 700;
}

.skin-light .number-input.number-input button.minus {
    position: relative;
    bottom: 5px;
}

.skin-light .number-input.number-input button {
    position: relative;
    bottom: 5px;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    border-color: #fff;
}

.card-body button a {
    color: #fff;
}

.card-body h5 {
    font-size: 16px;
    font-weight: 600;
}

.card-body h5 span {
    font-weight: 700;
}

/*--================================================================
========================  Footer part start  =======================
================================================================--*/


.modal-dialog {
    position: relative;
    z-index: 1999;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    top: 157px;
    left: 35%;
    transform: translateY(-35%);
}










/*--================================================================
====================================================================
======================  Checkout part start  =======================
====================================================================
================================================================--*/

#checkout #your_cart {
    padding-top: 100px;
}

#checkout .check_heading h4 {
    padding-top: 15px;
    padding-bottom: 15px;
    background: red;
}


#checkout .col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

#checkout .col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

#checkout .col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

#checkout .col-25,
#checkout .col-50,
#checkout .col-75 {
    padding: 0 16px;
}



#checkout #your_cart input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#checkout label {
    margin-bottom: 10px;
    display: block;
}

#checkout .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

#checkout .btn {
    background-color: #ff9900;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
}

#checkout .btn:hover {
    background-color: #ff9900;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.14), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.14), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
}



#checkout hr {
    border: 1px solid lightgrey;
}

#checkout span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}





#checkout .check_heading h4 {
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 7px 2px rgba(221, 221, 221, 0.4);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #ff9900;
}


.border_all {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 7px 2px rgba(221, 221, 221, 0.4);
    margin-bottom: 48px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fbfbfb;
}

label {
    font-size: 16px;
    font-weight: 500;

}

#checkout h3 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 30px;
    color: #000;
}

.link_a p a {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}
















/* login-form-box */
#signin #signin_form {
    padding-top: 105px;
}
#login h5 {
    font-size: 14px;
    font-weight: 500;
    color: #6a6363;
}
.tt-login-form {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding-bottom: 48px;
}

.tt-login-form .tt-item {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 7px 2px rgba(221, 221, 221, 0.4);
    padding: 32px 39px 20px;
    height: 100%;
    background: #fbfbfb;
}

.tt-login-form .tt-item .tt-title {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 14px 0;
    font-weight: 700;
    color: #ff9900;
    text-align: center;
}

.tt-login-form .tt-item p {
    margin-top: 0;
}

.tt-login-form .tt-item .form-top {
    margin-top: 17px;
}

.tt-login-form .tt-item .btn:not(.btn-top) {
    margin-top: 4px;
    margin-bottom: 5px;
    background-color: #ff9900;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
}

.tt-login-form .tt-item .btn:not(.btn-top):hover {
    background-color: #ff9900;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.14), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.14), 0 4px 15px 0 rgba(0, 0, 0, 0.12);
}

.tt-login-form .tt-item .btn-top {
    margin-top: 25px;
}

.tt-login-form .tt-item .btn {
    margin-right: 12px;
}

.tt-login-form .tt-item .additional-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.tt-login-form .tt-item .additional-links a {
    color: #2879fe;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    font-size: 14px;
}

.tt-login-form .tt-item .additional-links a:hover {
    color: #191919;
}

@media (max-width: 789px) {
    .tt-login-form {
        display: block;
        align-items: flex-start;
        margin-top: -20px;
    }

    .tt-login-form .tt-item:first-child {
        margin-top: 20px;
        height: auto;
    }
}

.form-default .tt-required {
    display: inline-block;
    float: right;
    color: #777777;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 440px) {
    .tt-login-form .tt-item {
        padding: 20px 20px 10px;
    }
}


.new_account h5 {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    font-weight: 400;
    color: #655f5f;
    border-top: 1px solid #ddd;
    padding-top: 13px;
    margin-top: 10px;

}

.new_account a {
    color: #ff9900;

}


/*sign up*/
#signup #signup_form {
    padding-top: 105px;
}
.form-default .form-group label {
    font-size: 14px;
    color: #191919;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    padding-bottom: 4px;
    letter-spacing: 0.02em;
}

.form-default .form-control:not(textarea) {
    height: 40px;
}

.form-default .form-control {
    background: #f7f8fa;
    font-size: 14px;
    /* border: 1px solid #f7f8fa; */
    /* padding: 11px 12px 10px 15px; */
    font-family: 'Hind', sans-serif;
    box-shadow: none;
    outline: none;
    /* color: #777777; */
    border-radius: 0;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    border-radius: 5px;
}